apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: university-chatbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: ashmit7tyagi/auth-service:latest
          ports:
            - containerPort: 5003
          env:
           - name: MONGO_URI
             value: "mongodb://mongo:27017/bennett-chatbot"

